Library
Temp
obj
NavMeshComponents.csproj
NavMeshComponentsEditor.csproj
NavMeshComponentsExamples.csproj
NavMeshComponentsExamplesEditor.csproj

*.csproj
Logs/*
Achieve/
.vsconfig
.vs
.vscode
*.log

UserSettings/*

Assets/Vuplex/WebView/Standalone/Mac/Plugins/*
Assets/Vuplex/WebView/Standalone/Windows/Plugins/*